/* Общий стиль для всех страниц */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 1.6em;
}

h1, h2, p {
    padding: 20px;
}

/* Стиль для кнопок */
button {
    background: linear-gradient(to right, #3498db, #48c9b0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}

/* Стиль для форм */
form {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

form input[type="submit"] {
    background: linear-gradient(to right, #3498db, #48c9b0);
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: linear-gradient(to right, #48c9b0, #3498db);
}

/* Стиль для списка статей */
#user-articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стиль для отдельной статьи */
.article-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform .2s;
}

.article-item:hover {
    transform: scale(1.02);
}
