/* Общий стиль для всех страниц */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, p {
    padding: 20px;
}

/* Стиль для кнопок */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Стиль для форм */
form {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #48c9b0;
}

/* Стиль для списка статей */
#user-articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стиль для отдельной статьи */
.article-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
